.App {
  text-align: center;
}

.color-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  margin: auto;
  grid-gap: 3vw;
  color: #fff;
  justify-content: center;
  align-content: center;
  text-align: center;
}
